@font-face {
    font-family: Neon;
    src: url("Neon.ttf");
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Neon;
}
label{
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 20px;
    width: 20px;
    position: relative;
}

.tableContainer{
    padding: 10px 20px;
    margin: 0 auto;
    width: fit-content;
}

.rowContainer{
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

.elementContainer{
    height: 70px;
    width: 65px;
    padding: 5px;
    border-radius: 8px;
    transition: 0.2s;
    margin: 3px 3px;    
    cursor:default;
}

.elementNumber,.elementSign, .elementName{
    display: block;
}

.elementSign, .elementName{
    text-align: center;
}

.elementNumber{
    font-size: 13px;
}

.elementSign{
    font-size: 20px;
}

.elementName{
    margin: 25px 0px 0px 0px;
    font-size: 10px;
}

.split-1, .split-2{
    display: flex;
}

