@font-face {
    font-family: Neon;
    src: url("Neon.ttf");
}

:root{
    --alkalineEarthColor : #FF0000;
    --alkalineMetalColor : #fb9a40;
    --transitionMetalColor : #ffd617;
    --basicMetalColor : #00cb1d;
    --semiMetalColor : #00ede2 ;
    --nonMetalColor : #eff8ff;
    --halogenColor : #9e00ff;
    --nobleGasColor : #d22cff;
    --lanthanidesColor : #ff0063;
    --actinidesColor : #ff0041;
    --offColor : #202020;
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    top: 10px;
    right: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
}

#pageTitle{
    top: 0;
    margin: 0;
    font-size: 30px; 
    color: #00EDE2;
    text-shadow: 2px 2px 10px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Neon;
}

label[for = neonButton]{
    right: 5px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 7px;
    color: #00EDE2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

input{
    height: 20px;
    width: 35px;
    border-radius: 10px;
    transition: 0.2s;
    background-color: #c6c6c6;
    position: relative;
    outline: none;
    appearance: none;
    cursor:pointer;
}

input:checked{
    background-color: #00EDE2;
}

input::before{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: 0;
    left: 0;
    transform: scale(1.07);
    transition: 0.2s;
    outline: none;
    background-color: #fff;
    content: "";
    position: absolute;
}

input:checked::before{
    left: 15px
}

.tableContainer{
    padding: 10px 20px;
    margin: 0 auto;
    width: fit-content;
}

.rowContainer{
    display: flex;
    justify-content: space-between;
}

#eighthRowContainer, #ninthRowContainer{
    justify-content: center;
}

.elementContainer{
    height: 70px;
    width: 65px;
    padding: 5px;
    border-radius: 8px;
    margin: 4px 4px;    
    cursor:pointer;
    animation: pop 0.7s forwards;
}

@keyframes pop {
    0%{
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

.elementContainer[status = off]{
    box-shadow : 0px 0px 0px;
    text-shadow: 0px 0px 0px;
    color: var(--offColor);
    border: 4px solid var(--offColor);
}


.elementContainer[status = active]{
    box-shadow : 0px 0px 10px, inset 0px 0px 20px;
    text-shadow: 2px 2px 10px;
}

.elementContainer[name = alkalineMetal][status = active]{
    border : 4px solid var(--alkalineEarthColor);
    color : var(--alkalineEarthColor);
}
.elementContainer[name = alkalineEarth][status = active]{
    border : 4px solid var(--alkalineMetalColor);
    color : var(--alkalineMetalColor);
}
.elementContainer[name = transitionMetal][status = active]{
    border : 4px solid var(--transitionMetalColor);
    color : var(--transitionMetalColor);
}
.elementContainer[name = basicMetal][status = active]{
    border : 4px solid var(--basicMetalColor);
    color : var(--basicMetalColor);
}
.elementContainer[name = semiMetal][status = active]{
    border : 4px solid var(--semiMetalColor);
    color : var(--semiMetalColor); 
}
.elementContainer[name = nonMetal][status = active]{
    border : 4px solid var(--nonMetalColor);
    color :  var(--nonMetalColor);
}
.elementContainer[name = halogen][status = active]{
    border : 4px solid var(--halogenColor);
    color : var(--halogenColor); 
}
.elementContainer[name = nobleGas][status = active]{
    border : 4px solid var(--nobleGasColor);
    color : var(--nobleGasColor); 
}
.elementContainer[name = lanthanides][status = active]{
    border : 4px solid var(--lanthanidesColor);
    color : var(--lanthanidesColor);
}
.elementContainer[name = actinides][status = active]{
    border : 4px solid var(--actinidesColor);
    color : var(--actinidesColor);
}

.elementNumber, .elementSign, .elementName{
    display: block;
}

.elementSign, .elementName{
    text-align: center;
}

.elementNumber{
    font-size: 13px;
}

.elementSign{
    font-size: 33px;
}

.elementName{
    margin: 10px 0px 0px 0px;
    font-size: 10px;
}

.split-1, .split-2{
    display: flex;
}

#groupIndexContainer{
    bottom: 5px; 
    margin: 20px 0px 0px 0px; 
    height: fit-content;
    display: flex;
    justify-content: center;
    position: absolute;
}

.groupIndex{
    margin: 0px 15px; 
    animation: pop 0.7s forwards; 
    width: max-content;
    display: flex;
    align-items: center;
}

.indexTitle {
    color: #EFF8FF;
}

.indexTitle[status = off]{
    color: #202020;
}

.colorSquare{
    width: 20px;
    height: 20px;
    border-radius: 6px;
    margin: 0px 0px 0px 10px;
    box-shadow : 0px 0px 10px, inset 0px 0px 5px;
}

.colorSquare[status = off]{
    background-color: var(--offColor);
    border: 2px solid var(--offColor);
}

#alkalineEarth > .colorSquare[status = active]{
    background-color: var(--alkalineEarthColor);
    border: 2px solid var(--alkalineEarthColor);
}

#alkalineMetal > .colorSquare[status = active]{
    background-color: var(--alkalineMetalColor);
    border: 2px solid var(--alkalineMetalColor);
}

#transitionMetal > .colorSquare[status = active]{
    background-color: var(--transitionMetalColor);
    border: 2px solid var(--transitionMetalColor);
}

#basicMetal > .colorSquare[status = active]{
    background-color: var(--basicMetalColor);
    border: 2px solid var(--basicMetalColor);
}

#semiMetal > .colorSquare[status = active]{
    background-color: var(--semiMetalColor);
    border: 2px solid var(--semiMetalColor);
}

#nonMetal > .colorSquare[status = active]{
    background-color: var(--nonMetalColor);
    border: 2px solid var(--nonMetalColor);
}

#halogen > .colorSquare[status = active]{
    background-color: var(--halogenColor);
    border: 2px solid var(--halogenColor);
}

#nobleGas > .colorSquare[status = active]{
    background-color: var(--nobleGasColor);
    border: 2px solid var(--nobleGasColor);
}

#lanthanides > .colorSquare[status = active]{
    background-color: var(--lanthanidesColor);
    border: 2px solid var(--lanthanidesColor);
}

#actinides > .colorSquare[status = active]{
    background-color: var(--actinidesColor);
    border: 2px solid var(--actinidesColor);
}
